<template>
    <div class="container">
        <div class="justify-content-center">
                <div class="card">
                    <div class="card-header">Example Component</div>

                    <div class="card-body">
                        I'm an example component.
                    </div>
                </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        mounted() {
            console.log('Component mounted.')

            axios.get("/api/user")
                .then(response => {
                    console.log(response.data);
                });
        }
    }
</script>
